# HOMEWORK WEEK 3

Name: Benjamin Trinh

In [1]:
# import libraries
import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('AB_NYC_2019.csv')
len(df)

48895

In [3]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

## Normalise the texts

In [4]:
strings = list(df.dtypes[df.dtypes == 'object'].index)
strings

['name',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'room_type',
 'last_review']

In [5]:
for col in strings:
    df[col] = df[col].str.lower().str.replace(' ', '_')

In [6]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,clean_&_quiet_apt_home_by_the_park,2787,john,brooklyn,kensington,40.64749,-73.97237,private_room,149,1,9,2018-10-19,0.21,6,365
1,2595,skylit_midtown_castle,2845,jennifer,manhattan,midtown,40.75362,-73.98377,entire_home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,the_village_of_harlem....new_york_!,4632,elisabeth,manhattan,harlem,40.80902,-73.94190,private_room,150,3,0,NaN,NaN,1,365
3,3831,cozy_entire_floor_of_brownstone,4869,lisaroxanne,brooklyn,clinton_hill,40.68514,-73.95976,entire_home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,entire_apt:_spacious_studio/loft_by_central_park,7192,laura,manhattan,east_harlem,40.79851,-73.94399,entire_home/apt,80,10,9,2018-11-19,0.10,1,0

In [7]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

## Exploratory data analysis (EDA)

In [8]:
# Summary analysis
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

### Select Certain columns

In [9]:
base = ['neighbourhood_group',
'room_type',
'latitude',
'longitude',
'price',
'minimum_nights',
'number_of_reviews',
'reviews_per_month',
'calculated_host_listings_count',
'availability_365']

df_num = df[base]

df_num.head()

,neighbourhood_group,room_type,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,brooklyn,private_room,40.64749,-73.97237,149,1,9,0.21,6,365
1,manhattan,entire_home/apt,40.75362,-73.98377,225,1,45,0.38,2,355
2,manhattan,private_room,40.80902,-73.94190,150,3,0,NaN,1,365
3,brooklyn,entire_home/apt,40.68514,-73.95976,89,1,270,4.64,1,194
4,manhattan,entire_home/apt,40.79851,-73.94399,80,10,9,0.10,1,0

## Question 1
What is the most frequent observation (mode) for the column 'neighbourhood_group'?

In [11]:
df_num.neighbourhood_group.mode()

0    manhattan
dtype: object

## Split the data
* Split your data in train/val/test sets, with 60%/20%/20% distribution.
* Use Scikit-Learn for that (the train_test_split function) and set the seed to 42.
* Make sure that the target value ('price') is not in your dataframe.

In [12]:
from sklearn.model_selection import train_test_split

In [95]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=1)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=1)

In [96]:
len(df_train), len(df_val), len(df_test)

(29337, 9779, 9779)

In [97]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [98]:
y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

del df_train['price']
del df_val['price']
del df_test['price']


del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

In [99]:
df_full_train.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,above_average
21838,17545558,private_room_2_in_east_village_(large_window),12302104,anna,manhattan,east_village,40.72208,-73.98109,private_room,73,1,116,2019-06-02,4.07,2,238,0
47539,35796194,"super_nice_flat_in_nolita,_nyc",33144953,carly,manhattan,nolita,40.72206,-73.99695,entire_home/apt,189,4,0,NaN,NaN,1,317,1
25386,20305160,beach_house_retreat._15_minutes_from_manhattan.,1715301,mark,staten_island,fort_wadsworth,40.59546,-74.06092,entire_home/apt,800,7,0,NaN,NaN,3,365,1
24173,19472944,charming_2_bed_2_bath_with_washing_dryer,113805886,yaacov,manhattan,upper_east_side,40.77854,-73.94984,entire_home/apt,265,31,7,2019-06-19,0.30,33,345,1
27875,21829006,room:_minimalist_artist_loft_williamsburg,43490965,nicole,brooklyn,bedford-stuyvesant,40.69854,-73.94069,private_room,50,2,4,2018-01-01,0.21,1,0,0

## Question 2
* Create the correlation matrix for the numerical features of your train dataset.
* In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.
* What are the two features that have the biggest correlation in this dataset?

In [100]:
df_full_train.isnull().sum()

id                                   0
name                                12
host_id                              0
host_name                           13
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       8002
reviews_per_month                 8002
calculated_host_listings_count       0
availability_365                     0
above_average                        0
dtype: int64

In [101]:
df_train.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [102]:
# host_id does not make sense to be included
numerical = ['latitude', 
'longitude', 
'minimum_nights', 
'number_of_reviews', 
'reviews_per_month', 
'calculated_host_listings_count', 
'availability_365']

In [103]:
df_train[numerical].corr()

,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
latitude,1.000000,0.084313,0.019638,-0.020536,-0.015837,0.019039,-0.012974
longitude,0.084313,1.000000,-0.062937,0.058299,0.144054,-0.117029,0.082892
minimum_nights,0.019638,-0.062937,1.000000,-0.075564,-0.120656,0.120308,0.140542
number_of_reviews,-0.020536,0.058299,-0.075564,1.000000,0.560831,-0.072518,0.173308
reviews_per_month,-0.015837,0.144054,-0.120656,0.560831,1.000000,-0.005318,0.193003
calculated_host_listings_count,0.019039,-0.117029,0.120308,-0.072518,-0.005318,1.000000,0.229346
availability_365,-0.012974,0.082892,0.140542,0.173308,0.193003,0.229346,1.000000

In [104]:
df_full_train[numerical].corr()

,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
latitude,1.000000,0.087077,0.019405,-0.019116,-0.009229,0.019113,-0.015367
longitude,0.087077,1.000000,-0.064843,0.060512,0.144019,-0.114354,0.082621
minimum_nights,0.019405,-0.064843,1.000000,-0.079131,-0.122669,0.127723,0.146533
number_of_reviews,-0.019116,0.060512,-0.079131,1.000000,0.551130,-0.071874,0.172371
reviews_per_month,-0.009229,0.144019,-0.122669,0.551130,1.000000,-0.007181,0.188820
calculated_host_listings_count,0.019113,-0.114354,0.127723,-0.071874,-0.007181,1.000000,0.227129
availability_365,-0.015367,0.082621,0.146533,0.172371,0.188820,0.227129,1.000000

## Make price binary
* We need to turn the price variable from numeric into binary.
* Let's create a variable above_average which is 1 if the price is above (or equal to) 152.

In [93]:
df.price.mean()

152.7206871868289

https://www.statology.org/create-column-based-on-condition-pandas/

In [27]:
df['above_average'] = np.where(df['price']>=152, '1', '0')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,above_average
0,2539,clean_&_quiet_apt_home_by_the_park,2787,john,brooklyn,kensington,40.64749,-73.97237,private_room,149,1,9,2018-10-19,0.21,6,365,0
1,2595,skylit_midtown_castle,2845,jennifer,manhattan,midtown,40.75362,-73.98377,entire_home/apt,225,1,45,2019-05-21,0.38,2,355,1
2,3647,the_village_of_harlem....new_york_!,4632,elisabeth,manhattan,harlem,40.80902,-73.94190,private_room,150,3,0,NaN,NaN,1,365,0
3,3831,cozy_entire_floor_of_brownstone,4869,lisaroxanne,brooklyn,clinton_hill,40.68514,-73.95976,entire_home/apt,89,1,270,2019-07-05,4.64,1,194,0
4,5022,entire_apt:_spacious_studio/loft_by_central_park,7192,laura,manhattan,east_harlem,40.79851,-73.94399,entire_home/apt,80,10,9,2018-11-19,0.10,1,0,0

## Question 3
* Calculate the mutual information score with the (binarized) price for the two categorical variables that we have. Use the training set only.
* Which of these two variables has bigger score?
* Round it to 2 decimal digits using round(score, 2)

In [28]:
from sklearn.metrics import mutual_info_score

In [105]:
round(mutual_info_score(df_full_train.neighbourhood_group, df_full_train.above_average),2)

0.05

In [106]:
round(mutual_info_score(df_full_train.room_type, df_full_train.above_average),2)

0.14

In [109]:
def mutual_info_price_score(series):
    return round(mutual_info_score(series, df_full_train.above_average),2)

In [110]:
categorical = ['neighbourhood_group','room_type']

In [111]:
mi = df_full_train[categorical].apply(mutual_info_price_score)
mi.sort_values(ascending=False)

room_type              0.14
neighbourhood_group    0.05
dtype: float64

## Question 4
* Now let's train a logistic regression
* Remember that we have two categorical variables in the data. Include them using one-hot encoding.
* Fit the model on the training dataset.
* To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
* model = LogisticRegression(solver='lbfgs', C=1.0, random_state=42)
* Calculate the accuracy on the validation dataset and round it to 2 decimal digits.

### One-hot encoding

In [51]:
from sklearn.feature_extraction import DictVectorizer

In [116]:
categorical = ['neighbourhood_group','room_type']

numerical = ['latitude',
'longitude',
'minimum_nights',
'number_of_reviews',
'reviews_per_month',
'calculated_host_listings_count',
'availability_365']

In [117]:
df_train.isnull().sum()

id                                   0
name                                 9
host_id                              0
host_name                           11
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
minimum_nights                       0
number_of_reviews                    0
last_review                       6011
reviews_per_month                 6011
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [118]:
df_train[numerical] = df_train[numerical].fillna(0)

In [127]:
df_val[numerical] = df_val[numerical].fillna(0)

In [119]:
df_train.isnull().sum()

id                                   0
name                                 9
host_id                              0
host_name                           11
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
minimum_nights                       0
number_of_reviews                    0
last_review                       6011
reviews_per_month                    0
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [128]:
dv = DictVectorizer(sparse=False)

train_dict = df_train[categorical + numerical].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

### Train Logistic Regression model with Scikit-Learn

In [67]:
from sklearn.linear_model import LogisticRegression

In [123]:
model = LogisticRegression(solver='lbfgs', C=1.0, random_state=42, max_iter=5000)
model.fit(X_train, y_train)

LogisticRegression(max_iter=5000, random_state=42)

In [124]:
model.intercept_[0]

-0.061761803770130776

In [125]:
model.coef_[0].round(3)

array([ 3.000e-03,  3.000e-03, -5.903e+00, -3.213e+00, -1.000e-02,
       -7.000e-02,  1.500e-01,  1.614e+00,  6.300e-02, -1.816e+00,
       -3.000e-03, -5.100e-02,  1.937e+00, -8.710e-01, -1.125e+00])

In [134]:
from sklearn import metrics

In [137]:
prediction=model.predict(X_val)
print('The accuracy of the Logistic Regression on validation set is', round(metrics.accuracy_score(prediction,y_val),2))

The accuracy of the Logistic Regression on validation set is 0.79

In [139]:
original_accuracy = metrics.accuracy_score(prediction,y_val)
original_accuracy

0.7932303916555885

## Question 5
* We have 9 features: 7 numerical features and 2 categorical.
* Let's find the least useful one using the feature elimination technique.
* Train a model with all these features (using the same parameters as in Q4).
* Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
* For each feature, calculate the difference between the original accuracy and the accuracy without the feature.
* Which of following feature has the smallest difference?
   - neighbourhood_group
   - room_type
   - number_of_reviews
   - reviews_per_month

### Remove neighbourhood_group

In [141]:
categorical = ['room_type']

numerical = ['latitude',
'longitude',
'minimum_nights',
'number_of_reviews',
'reviews_per_month',
'calculated_host_listings_count',
'availability_365']

In [142]:
dv = DictVectorizer(sparse=False)

train_dict = df_train[categorical + numerical].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

In [143]:
model = LogisticRegression(solver='lbfgs', C=1.0, random_state=42, max_iter=5000)
model.fit(X_train, y_train)

LogisticRegression(max_iter=5000, random_state=42)

In [144]:
prediction=model.predict(X_val)
print('The accuracy of the Logistic Regression on validation set is', round(metrics.accuracy_score(prediction,y_val),2))

The accuracy of the Logistic Regression on validation set is 0.75

In [147]:
accuracy_remove_ng = metrics.accuracy_score(prediction,y_val)
gap_ng = original_accuracy - accuracy_remove_ng
round(gap_ng,3)

0.045

### Remove room_type

In [148]:
categorical = ['neighbourhood_group']

numerical = ['latitude',
'longitude',
'minimum_nights',
'number_of_reviews',
'reviews_per_month',
'calculated_host_listings_count',
'availability_365']

In [150]:
dv = DictVectorizer(sparse=False)

train_dict = df_train[categorical + numerical].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

model = LogisticRegression(solver='lbfgs', C=1.0, random_state=42, max_iter=5000)
model.fit(X_train, y_train)

prediction=model.predict(X_val)
print('The accuracy of the Logistic Regression on validation set is', round(metrics.accuracy_score(prediction,y_val),2))

accuracy_remove_rt = metrics.accuracy_score(prediction,y_val)
gap_rt = original_accuracy - accuracy_remove_rt
round(gap_rt,3)

The accuracy of the Logistic Regression on validation set is 0.74

0.056

### Remove number_of_reviews

In [162]:
categorical = ['neighbourhood_group', 'room_type']

numerical = ['latitude',
'longitude',
'minimum_nights',
'reviews_per_month',
'calculated_host_listings_count',
'availability_365']

In [163]:
dv = DictVectorizer(sparse=False)

train_dict = df_train[categorical + numerical].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

model = LogisticRegression(solver='lbfgs', C=1.0, random_state=42, max_iter=5000)
model.fit(X_train, y_train)

prediction=model.predict(X_val)
print('The accuracy of the Logistic Regression on validation set is', round(metrics.accuracy_score(prediction,y_val),2))

accuracy_remove_nor = metrics.accuracy_score(prediction,y_val)
gap_nor = original_accuracy - accuracy_remove_nor
round(gap_nor,5)

The accuracy of the Logistic Regression on validation set is 0.79

0.00092

### Remove reviews_per_month

In [160]:
categorical = ['neighbourhood_group', 'room_type']

numerical = ['latitude',
'longitude',
'minimum_nights',
'number_of_reviews',
'calculated_host_listings_count',
'availability_365']

In [161]:
dv = DictVectorizer(sparse=False)

train_dict = df_train[categorical + numerical].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

model = LogisticRegression(solver='lbfgs', C=1.0, random_state=42, max_iter=5000)
model.fit(X_train, y_train)

prediction=model.predict(X_val)
print('The accuracy of the Logistic Regression on validation set is', round(metrics.accuracy_score(prediction,y_val),2))

accuracy_remove_rpm = metrics.accuracy_score(prediction,y_val)
gap_rpm = original_accuracy - accuracy_remove_rpm
round(gap_rpm,5)

The accuracy of the Logistic Regression on validation set is 0.79

0.00133

## Question 6
* For this question, we'll see how to use a linear regression model from Scikit-Learn
* We'll need to use the original column 'price'. Apply the logarithmic transformation to this column.
* Fit the Ridge regression model on the training data.
* This model has a parameter alpha. Let's try the following values: [0, 0.01, 0.1, 1, 10]
* Which of these alphas leads to the best RMSE on the validation set? Round your RMSE scores to 3 decimal digits.

If there are multiple options, select the smallest alpha.

In [164]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=1)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=1)

In [165]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [166]:
y_train = np.log1p(df_train.price.values)
y_val = np.log1p(df_val.price.values)
y_test = np.log1p(df_test.price.values)

del df_train['price']
del df_val['price']
del df_test['price']


del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

In [167]:
categorical = ['neighbourhood_group','room_type']

numerical = ['latitude',
'longitude',
'minimum_nights',
'number_of_reviews',
'reviews_per_month',
'calculated_host_listings_count',
'availability_365']

In [168]:
df_train[numerical] = df_train[numerical].fillna(0)
df_val[numerical] = df_val[numerical].fillna(0)

In [175]:
from sklearn.linear_model import Ridge
import math

In [176]:
model = Ridge(alpha = 0, normalize = False, tol = 0.001, \
              solver ='auto', random_state = 42)
model.fit(X_train, y_train)

Ridge(alpha=0, random_state=42)

In [177]:
prediction=model.predict(X_val)

In [180]:
mse = metrics.mean_squared_error(y_val, prediction)
rmse = math.sqrt(mse)
round(rmse,3)

0.495

In [183]:
alpha_list = [0, 0.01, 0.1, 1, 10]

In [185]:
for i in alpha_list:
  model = Ridge(alpha = i, normalize = False, tol = 0.001, \
              solver ='auto', random_state = 42)
  model.fit(X_train, y_train)
  prediction=model.predict(X_val)
  mse = metrics.mean_squared_error(y_val, prediction)
  rmse = math.sqrt(mse)
  print('RMSE with alpha = %s is' %i, round(rmse,3))

RMSE with alpha = 0 is 0.495
RMSE with alpha = 0.01 is 0.495
RMSE with alpha = 0.1 is 0.495
RMSE with alpha = 1 is 0.495
RMSE with alpha = 10 is 0.496